fastapi
uvicorn[standard]
gunicorn
scikit-learn
pandas
numpy
joblib
google-genai
groq
python-dotenv
python-multipart
scipy
pypdf
rapidocr-onnxruntime
Pillow
opencv-python
onnxruntime
langgraph
langchain
langchain-core
langchain-groq
httpx
cachetools
